body {
    --text-color: #eee;
    --bkg-color: #121212;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: var(--bkg-color);
}

h1,
p, label {
    color: var(--text-color);
}